- provider = server['provider_name']
- render_remember_me = remember_me_enabled? && local_assigns.fetch(:render_remember_me, true)
- submit_message = local_assigns.fetch(:submit_message, _('Sign in'))

- unless smartcard_enabled_for_ldap?(provider, required: true)
  = render_ce('devise/sessions/new_ldap', server: server, render_remember_me: render_remember_me, submit_message: submit_message)
  - if smartcard_enabled_for_ldap?(provider)
    %hr

= render 'devise/sessions/new_smartcard_ldap', server: server
